{% extends 'EcommerceBundle::layout.html.twig' %}
{% block title %}Your Store{% endblock  %}
{% block css %}

    <link rel="stylesheet" href="{{ asset('Template/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/swiper.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/dark.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/font-icons.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/animate.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/magnific-popup.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/responsive.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Template/css/rating.css') }}" type="text/css"  />
    <link rel="stylesheet" href="{{ asset('Template/css/font-awesome.min.css') }}" type="text/css"  />
    <link rel="stylesheet" href="{{ asset('Template/css/font-awesome.css') }}" type="text/css"  />
    <link rel="stylesheet" href="{{ asset('Template/css/components/bs-rating.css') }}" type="text/css"  />
    <link rel="stylesheet" href="{{ asset('Template/include/rs-plugin/fonts/font-awesome/css/font-awesome.min.css') }}" type="text/css"  />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
{% endblock %}
{% block content %}

    <!-- End breadcrumb -->

    <!-- End breadcrumb -->

    <!-- Single Product Body -->
    <div class="mb-xl-14 mb-6">
        <div class="row">
            <div class="container">
                <div class="col-md-5 mb-4 mb-md-0">


                    <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off"
                         data-infinite="true"
                         data-slides-show="5"
                         data-is-thumbs="true"
                         data-nav-for="#sliderSyncingNav">



                        <div class="js-slide" style="cursor: pointer;">

                            <img src="{{ asset('uploads/admin/' ~ event.photo) }}" class="img-responsive second-img" alt="hover image"/></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-7 mb-md-6 mb-lg-0">
                    <div class="mb-2">

                        <div class="border-bottom mb-3 pb-md-1 pb-3">
                            <h2 class="font-size-25 text-lh-1dot2">{{event.nom}}</h2>
                            <div class="mb-2">


                                <div class="d-md-flex align-items-center">
                                    <div class="ml-md-3 text-gray-9 font-size-14">Descritpion: <span class="text-green font-weight-bold">{{ event.description }}</span></div>
                                </div>

                                <div class="d-md-flex align-items-center">
                                    <div class="ml-md-3 text-gray-9 font-size-14">Category: <span class="text-green font-weight-bold">{{ event.getCategoriesEvent().type }}</span></div>
                                </div>
                                <div class="ml-md-3 text-gray-9 font-size-14">
                                    <div class="ml-md-3 text-gray-9 font-size-14">Number of participants: <span class="text-green font-weight-bold">{{ event.nbrParticipant }}</span></div>

                                </div>
                                <div class="ml-md-3 text-gray-9 font-size-14">
                                    <div class="ml-md-3 text-gray-9 font-size-14">Location: <span class="text-green font-weight-bold">{{ event.lieuEvent }}</span></div>
                                </div>
                                <div class="ml-md-3 text-gray-9 font-size-14">
                                    <div class="ml-md-3 text-gray-9 font-size-14">Price: <span class="text-green font-weight-bold">{{ event.prix }}</span></div>

                                </div>
                                <div class="ml-md-3 text-gray-9 font-size-14">
                                    <div class="ml-md-3 text-gray-9 font-size-14">Event date : <span class="text-green font-weight-bold">{{ event.dateEvent|date('m/d/y') }}</span></div>

                                </div>

                                </div>

                            </div>

                        </div>





                        <div class="mb-4">
                            <div class="d-flex align-items-baseline">


                            </div>




                        </div>

                    </div>


                            <!-- Modal Reviews
                           ============================================= -->


                    <div class="ml-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}