{% extends "EcommerceBundle::layout.html.twig" %}
{% set title="Comment" %}

{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">

{% endblock %}
{% block ModifierCommentaire %}
    <center>
        <div class="row" >
            <div class="col-xl-12">
                <!-- Sorting -->
                <div class="widget">
                    <div class="widget-header bordered no-actions d-flex align-items-center" >
                        <center> <h4>Edit your comment </h4></center>
                    </div>
                    <div class="widget-body">
                        {{ form_start(form)  }}
                        <div class="row">
                            <div class="container" >
                                <center>     {{ form_row(form.contenu) }}</center>
                            </div>
                        </div>
                        <button class="btn btn-success btn-xs">Edit</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
        </div>
    </center>
{% endblock %}