{% extends 'AdminBundle::layout.html.twig' %}

{% set title="Affichage produit" %}

{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">


                </div>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table id="sorting-table" class="table mb-0">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Modèle</th>
                                <th>Prix</th>
                                <th>Type</th>

                                <th>Etat</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for pp in p %}
                                <tr>

                                    <td>{{ pp.nom }}</td>
                                    <td>{{ pp.modele }}</td>
                                    <td>{{ pp.prix }}</td>
                                    <td>{{ pp.type }}</td>

                                    <td>
                                        {% if pp.etatVendu==0 %}
                                        Produits vendu
                                        {% elseif pp.etatVendu==1 %}
                                        Produits non vendu
                                        {% endif %}

                                    </td>
                                    <td class="td-actions">
                                        <a href="{{ path("Updateproduit",{'id':pp.id}) }}"><i class="la la-edit edit"></i></a>
                                        <a href="{{ path("Deleteproduit",{'id':pp.id}) }}" class="delete-button"><i class="la la-close delete"></i></a>

                                    </td>
                                </tr>



                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>

    <script>
        $(function () {
            $('.table').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}
