{% extends "EcomBundle::layout.html.twig" %}
{% set title="liste des vélos" %}
{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">


    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">


{% endblock %}



    {% block body %}
       <div class="row">
            <div class="col-xl-12">
                <!-- Sorting -->
                <div class="widget">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Remplir le formulaire </h4>
                    </div>
                    <div class="widget-body">
                        {{ form_start(form) }}
                        <div class="row">


                            <div class="col-md-4">
                                {{ form_row(form.date_circulation) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.datePublication	) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.prix) }}
                            </div>

                            <div class="col-md-5">
                                {{ form_row(form.description) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(form.localitsation_velo)  }}

                            </div>

                            <div class="col-md-4">
                                {{ form_row(form.photo) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_row(form.categories) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_row(form.age) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.Entrecode) }}
                            </div>
                        </div>
                        <button class="btn btn-success btn-xs">Enregistrer</button>
                        <!-- Autocomplete location search input -->



                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="map"></div>
<script href="{{ asset('assets/js/core/jquery.min.js') }}" ></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4N1uhqDRC55eqZ3ZrJ9S_OQ3nL4vPYKg&libraries=places"></script>
        <script>
            (function () {
                'use strict';

                var autocomplete = null;
                    // Init Autocomplete
                    autocomplete = new google.maps.places.Autocomplete(
                        document.getElementById('form_localitsation_velo'),
                        {
                            types: ['geocode']
                        }
                    );
                })();


        </script>

    {% endblock %}
