{% extends "EcomBundle::layout.html.twig" %}
{% set title="vente produits" %}
{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
<div class="row">
    <div class="col-xl-12">
        <!-- Sorting -->
        <div class="widget">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h2> Liste  des produits </h2>
                <div class="sidebar-search">

                    <div class="input-group custom-search-form">

                        <input type="text" id="search_produits" class="form-control" placeholder="Search here">
                    </div>
                    <!-- /input-group -->
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" id="entitiesNav">
                        </ul>
                    </li>
                </ul><br><br><br><br>

                <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="dashboard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by price</a>
                        <ul class="dropdown-menu" aria-labelledby="dashboard">
                            <li><a href="{{ path('Prixproduitsasc') }}" >Ascending Price</a>

                            </li>
                            <li><a href="{{ path('Prixdescendantproduit') }}" >Descending price
                                </a></li>

                        </ul>
                    </li>
                &nbsp;&nbsp;&nbsp;
                <a href="{{ path("ecom_formulaire_produits") }}" class="btn btn-success">Ajouter un accessoire </a>
            </div>

            <div class="widget-body">
            <div class="container">
                <div class="row py-5">
                    {% for produits in produits %}
                    <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="card">

                            <img class="card-img-top " src="{{ asset('uploads/admin/' ~ produits.Photo) }}" alt="Card image cap">

                            <div class="card-block">
                                <h4 class="card-title">{{ produits.nom }}</h4>
                                <p class="card-text">{{ produits.modele }}</p>
                                <p class="card-text">
                                Prix: {{ produits.prix }}TND
                                </p>
                                <p class="card-text">
                                  Type:  {{ produits.type }}
                                </p>
                                <p>
                                    {% if produits.etatVendu==0 %}
                                        Produits vendu
                                    {% elseif produits.etatVendu==1 %}
                                        Produits non vendu
                                    {% endif %}
                                </p>

                            </div>


                        <div class="card-footer">

                            <div  class="btn-group icon-only">
                                <a href="{{ path("Updateproduits",{'id':produits.id}) }}"class="btn btn-info">Modifier</a>
                                <br>
                                <a href="{{ path("Deleteproduits",{'id':produits.id}) }}" class="btn btn-info">Supprimer</a>
                            </div>
                        </div>

                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
            {% endblock %}

            {% block javascripts %}
                <script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
                <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
                <script src="{{ asset('assets/js/jquery.js') }}"></script>

              {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}

                <script>
                    $(document).ready(function() {
                        var searchRequest = null;
                        $("#search_produits").keyup(function() {
                            var minlength = 1;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength ) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest =
                                    $.ajax({
                                    type: "GET",
                                    url: "{{ path('search') }}",
                                    data: {
                                        'q' : value
                                    },
                                    dataType: "text",
                                    success: function(msg){
                                        //we need to check if the value is the same
                                        if (value===$(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function(key, arr) {
                                                $.each(arr, function(id, value) {
                                                    if (key === 'produits') {
                                                        if (id !== 'error') {
                                                            console.log(value[1]);
                                                            entitySelector.append('<li><a href="/produits/'+id+'">'+value+'</a></li>');
                                                        } else {
                                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script>
                <script>
                    $(function () {
                        dtable = $('.table').DataTable({
                            responsive: true,
                            "language": {
                                "url":"//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"

                            }
                        });
                        $('.filter').on('keyup change', function() {

                            dtable.search('');
                            dtable.column(3).search(this.value).draw();
                        });

                        $(".dataTables_filter input").on('keyup change', function() {

                            dtable.columns().search('');

                            $('.filter').val('');
                        });
                    });
                </script>
            {% endblock %}
