{% extends "AdminBundle::layout.html.twig" %}

{% set title="Dashboard" %}

{% block css %}
{% endblock %}

{% block body %}
    <div class="row flex-row">
        <!-- Begin Facebook -->
        <div class="col-xl-4 col-md-6 col-sm-6">
            <div class="widget widget-12 has-shadow">
                <div class="widget-body">
                    <div class="media">
                        <div class="align-self-center ml-5 mr-5">
                            <i class="ion-person text-facebook"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <div class="title text-facebook">Utilisateurs</div>
                            <div class="number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Facebook -->
        <!-- Begin Twitter -->
        <div class="col-xl-4 col-md-6 col-sm-6">
            <div class="widget widget-12 has-shadow">
                <div class="widget-body">
                    <div class="media">
                        <div class="align-self-center ml-5 mr-5">
                            <i class="ion-checkmark text-twitter"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <div class="title text-twitter">Demandes acceptées</div>
                            <div class="number">{{demandeAccepte}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Twitter -->
        <!-- Begin Linkedin -->
        <div class="col-xl-4 col-md-6 col-sm-6">
            <div class="widget widget-12 has-shadow">
                <div class="widget-body">
                    <div class="media">
                        <div class="align-self-center ml-5 mr-5">
                            <i class="ion-close text-linkedin"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <div class="title text-linkedin"> Demandes refusées </div>
                            <div class="number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Linkedin -->
    </div>
    <!-- End Row -->
    <!-- Begin Row -->
    <div class="row flex-row">
        <div class="col-xl-12 col-md-6">
            <!-- Begin Widget 09 -->
            <div class="widget widget-09 has-shadow">
                <!-- Begin Widget Header -->
                <div class="widget-header d-flex align-items-center">
                    <h2></h2>
                </div>
                <!-- End Widget Header -->
                <!-- Begin Widget Body -->
                <div class="widget-body">
                    <div class="row">
                        <div class="col-xl-12 col-12 no-padding">
                            <div>
                                <canvas id="demandes"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget 09 -->
        </div>
    </div>
    <!-- End Row -->
    <!-- Begin Row -->
    <!-- End Row -->


    <!-- End Row -->
{% endblock %}

{% block js %}
    <!-- Begin Page Vendor Js -->
    <script src="{{ asset('assets/plugins/chart/chart.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/progress/circle-progress.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/calendar/locale/fr.js') }}"></script>
    <!-- End Page Vendor Js -->
    <!-- Begin Page Snippets -->
    <script src="{{ asset('assets/js/dashboard/db-default.js') }}"></script>

    <script>
        var ctx = document.getElementById("demandes").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'roundedBar',
            data: {
                labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
                datasets: [{
                    label: 'Autorisation de sortie',
                    data: {{autorisationSortieChart|raw}},
                    borderColor: "#fff",
                    backgroundColor: "#5d5386",
                    hoverBackgroundColor: "#483d77"
                }, {
                    label: 'Demande conge',
                    data: {{ demandeCongeChart|raw }},
                    borderColor: "#fff",
                    backgroundColor: "#007bff",
                    hoverBackgroundColor: "#0055b1"
                }, {
                    label: 'Ordre de mission',
                    data: {{ ordreMissionChart|raw }},
                    borderColor: "#fff",
                    backgroundColor: "#ffc107",
                    hoverBackgroundColor: "#a47b00"
                }, {
                    label: 'Rapport d\'accident de travail',
                    data: {{rapportAccidentChart|raw}},
                    borderColor: "#fff",
                    backgroundColor: "#5cb85c",
                    hoverBackgroundColor: "#306e30"
                }]
            },
            options: {
                responsive: true,
                barRoundness: 1,
                tooltips: {
                    backgroundColor: 'rgba(47, 49, 66, 0.8)',
                    titleFontSize: 13,
                    titleFontColor: '#fff',
                    caretSize: 0,
                    cornerRadius: 4,
                    xPadding: 5,
                    displayColors: false,
                    yPadding: 5,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: "#2e3451",
                        usePointStyle: true,
                        padding: 50,
                        fontSize: 13
                    }
                },
                scales: {
                    xAxes: [{
                        barThickness: 20,
                        stacked: false,
                        gridLines: {
                            drawBorder: false,
                            display: false
                        },
                        ticks: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        stacked: false,
                        gridLines: {
                            drawBorder: false,
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }]
                }
            }
        });

    </script>
{% endblock %}