{% extends 'AdminBundle::layout.html.twig' %}

{% set title="Gestion des evenements" %}

{% block css %}
{% endblock %}

{% block body %}
    <div class="widget has-shadow">
        <div class="widget-header bordered no-actions d-flex align-items-center">
            <h4>Details </h4>
        </div>
        <div class="widget-body">
            <ul class="list-group">
                <img class="list-group-item"  width="100" src="{{ asset('uploads/admin/' ~ event.photo) }}" alt="Card image cap"/>
                <li class="list-group-item"><b>Nom de l'evenement :</b> {{ event.nom }}</li>
                <li class="list-group-item"><b>Description:</b> {{ event.description }}</li>
                <li class="list-group-item"><b>Categorie :</b> {{ event.getCategoriesEvent().type }}</li>
                <li class="list-group-item"><b>Lieu de l'evenement :</b> {{ event.lieuEvent }}</li>
                <li class="list-group-item"><b>Nombre de participant :</b> {{ event.nbrParticipant }}</li>
                <li class="list-group-item"><b>Prix :</b> {{ event.prix }}</li>
                <li class="list-group-item"><b>Date de l'evenement :</b> {{ event.dateEvent|date('m/d/y') }}</li>

            </ul>

        </div>

        <div class="widget-options">
            <a href="{{ path('admin_valider_event',{'id':event.id}) }}" class="btn btn-success">Valider</a>

        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}
