{% extends 'AdminBundle::layout.html.twig' %}

{% set title="Event management" %}

{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">

            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h2> Events list</h2>
                    <div class="widget-options">
                        <a href="{{ path('admin_ajouter_event') }}" class="btn btn-success">Add</a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table id="sorting-table" class="table mb-0">
                            <thead>
                            <tr>
                                <th>Name of the event </th>
                                <th>Category</th>
                                <th>Event date</th>
                                <th>Location of the event</th>
                                <th>stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in event %}
                                <tr>
                                    <td>{{ event.nom }}</td>
                                    <td>{{ event.getCategoriesEvent().type }}</td>
                                    <td>{{ event.dateEvent|date('m/d/y') }}</td>
                                    <td>{{ event.lieuEvent }}</td>
                                    <td class="td-actions">
                                        <a href="{{ path('admin_modifier_event', {'id': event.id}) }}"><i class="la la-edit edit"></i></a>
                                        <a href="{{ path('admin_supprimer_event', {'id': event.id}) }}" class="delete-button"><i class="la la-close delete"></i></a>
                                        <a href="{{ path('admin_details_event', {'id': event.id}) }}" ><i class="la la-bars"></i></a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">No record found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>

    <script>
        $(function () {
            $('.table').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}
