{% extends "ReparateurBundle::layout.html.twig" %}

{% set title="Accueil" %}
{% block css %}
{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center">
        <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">

        </div>
        <div class="col-xl-4 col-md-4 d-flex justify-content-center">
            <div class="image-default">
                <img class="rounded-circle" src="{{ asset('uploads/admin/' ~ app.user.Photo) }}" alt="...">
            </div>
            <div class="infos">
                <h2>{{ app.user.nom ~ ' ' ~ app.user.prenom }}</h2>

            </div>
        </div>

    </div>

{% endblock %}

{% block actualite %}
    <div class="row">
        {% for actualite in actualites %}
            <div class="col-md-4">
                <!-- Begin Widget -->
                <div class="widget has-shadow">
                    <!-- Begin Widget Header -->
                    <div class="widget-header d-flex align-items-center">
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                {{ actualite.titre }}
                            </div>
                            <div class="time">{{ actualite.datePublication|date('m/d/y') }}</div>
                        </div>
                    </div>
                    <!-- End Widget Header -->
                    <!-- Begin Widget Body -->
                    <div class="widget-body">
                        <div class="content-img">
                            <img src="{{ asset('uploads/actualite/' ~ actualite.image) }}" class="img-fluid w-100 rounded">



                            <div class="card-block">
                                <h4 class="card-title" id="txt">{{ actualite.titre }}</h4>
                                <p class="card-text" id="txt">{{actualite.description }}</p>
                                <img src="{{ asset('/images/like.png') }}" width="25px" height="25px" class="etoileVide1"> {{ actualite.nbrLike}}
                                <p class="card-text">{{actualite.datePublication ? actualite.datePublication|date('Y-m-d') : '' }}</p>
                                <a href="{{ path('ajouterUneEtoile',{'id':actualite.id,'nombre':1}) }}"><img src="{{ asset('/images/etoile pleine.svg') }}" width="25px" height="25px" class="etoileVide1"></a>
                                <a href="{{ path('ajouterUneEtoile',{'id':actualite.id,'nombre':2}) }}"><img src="{{ asset('/images/etoile pleine.svg') }}" width="25px" height="25px" class="etoileVide2"></a>
                                <a href="{{ path('ajouterUneEtoile',{'id':actualite.id,'nombre':3}) }}"><img src="{{ asset('/images/etoile pleine.svg') }}" width="25px" height="25px" class="etoileVide3"></a>
                                <a href="{{ path('ajouterUneEtoile',{'id':actualite.id,'nombre':4}) }}"><img src="{{ asset('/images/etoile pleine.svg') }}" width="25px" height="25px" class="etoileVide4"></a>
                                <a href="{{ path('ajouterUneEtoile',{'id':actualite.id,'nombre':5}) }}"><img src="{{ asset('/images/etoile pleine.svg') }}" width="25px" height="25px" class="etoileVide5"></a>



                            </div>

                        </div>
                    </div>


                    <div class="w3ls-contact">

                    </div>





                </div>
                <!-- End Widget -->
            </div>
        {% endfor %}


    </div>
    <div class="widget-header d-flex align-items-center">

            <div class="title">
                <button class="btn btn-success btn-xs"><a href="{{ path('CommentAct') }}"> Add comment</a></button>
            </div>

        </div>
    </div>


        <div class="table-responsive">
            <table id="sorting-table" class="table mb-0">
                <thead>
                <tr>
                    <th>Comment</th>

                    <th>Date</th>


                </tr>
                </thead>
                <tbody>


                {% for Comment in Comment %}

                    <tr>
                        <td>{{ Comment.commentaires }}</td>

                        <td>{{ Comment.date |date}}</td>




                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
