{% extends "EcommerceBundle::layout.html.twig" %}
{% block body %}
    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register">
                <div class="tab-container">
                    <div class="tab-content clearfix" id="tab-register">
                        <div class="panel panel-default nobottommargin">
                            <div class="panel-body">
                                <h1>ligne(s) de commande(s)</h1>
                                <h5>Tout annulation de ligne de commande doit etre faite avant 24h</h5>
                                <table class="table table-hover" border="1" style="width:100% ;" >
                                    <tr>
                                        <th style="width: 150px">Prenom et Nom</th>
                                        <th>Categories</th>
                                        <th style="width: 150px">description</th>
                                        <th>prix Location </th>
                                        <th>prix Total</th>
                                        <th style="width: 150px">Date Livraison</th>
                                        <th>Adresse 1</th>
                                        <th>Adresse 2</th>
                                        <th>Ville</th>
                                        <th>Code Postal</th>
                                        <th>Numero De Telephone</th>
                                        <th>Locataire</th>
                                        <th>Modifier lieu de livraison</th>
                                        <th style="width: 200px">Annuler</th>
                                    </tr>

                                    {% for commande in lst %}
                                        <tr>
                                            <td>{{ app.user.Nom ~ ' '~ app.user.Prenom }}</td>
                                            <td>{{ commande.idVelo.Categories }}</td>
                                            <td>{{ commande.idVelo.description }}</td>
                                            <td>{{ commande.idVelo.prixLocation }}</td>
                                            <td>{{ commande.prixTotal }}</td>
                                            <td>{{ commande.dateLivraison|date('Y-m-d') }}</td>
                                            <td>{{ commande.adresse }}</td>
                                            <td>{{ commande.adresse2 }}</td>
                                            <td>{{ commande.ville }}</td>
                                            <td>{{ commande.codePostal }}</td>
                                            <td>{{ commande.numTel }}</td>
                                            <td>{{ commande.idVelo.user.Nom }} {{ commande.idVelo.user.Prenom }}</td>

                                            <td>

                                                <a href="{{ path('ligne_commande_modifier',{'id':commande.id}) }}">Modifier</a>


                                            </td>
                                            <td>

                                                {% if datesys|date ("Y-m-d")<=commande.IdCommande.dateMax|date ("Y-m-d") %}
                                                    <a href="{{ path('ligne_commande_supprimer',{'id':commande.id}) }}">Annuler la ligne de commande</a>

                                                {% else %}
                                                    <a title="Vous avez depasser le delai maximum de 24h pour annuler votre commande" data-icon="Icon List 1" style="color: #ff0022">Impossible d'annuler la ligne de commande</a>
                                                {% endif %}
                                            </td>


                                        </tr>

                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
