{% extends 'AdminBundle::layout.html.twig' %}

{% set title="User Management" %}

{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">

            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h2> Users list</h2>
                    <div class="widget-options">

                    </div>
                </div>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table id="sorting-table" class="table mb-0">
                            <thead>
                            <tr>
                                <th>username</th>
                                <th>E-mail</th>
                                <th>activated</th>
                                <th>Last access</th>
                                <th>stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.enabled ? 'Oui' : 'Non' }}</td>
                                    <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                                    <td class="td-actions">
                                        <a href="{{ path('admin_modifier_user',{'id': user.id}) }}"><i class="la la-edit edit"></i></a>
                                        <a href="{{ path('admin_supprimer_user', {'id': user.id}) }}" class="delete-button"><i class="la la-close delete"></i></a>
                                        <a href="{{ path('admin_details_user',{'id': user.id}) }}" ><i class="la la-bars"></i></a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">No record found /td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>

    <script>
        $(function () {
            $('.table').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}
